{
	"server" : "localhost:3000",
	"cal" : {
		"name" : "Emeryville Food Trucks", 
		"filter" : "(hollis|doyle)"
	},
	"lists" : [
		{ "user" : "ottumm", "name" : "food-trucks" },
		{ "user" : "twitsnationSFT", "name" : "san-francisco" },
		{ "user" : "sfcarts", "name" : "san-francisco-food-carts" },
		{ "user" : "sfcarts", "name" : "new-york-food-carts" }
	]
}
