<div id="location">
	Finding current location...
</div>

<script>
	function success(pos) {
		window.location.href = "/events?latitude=" + pos.coords.latitude 
		                     + "&longitude=" + pos.coords.longitude 
		                     + "&range=5"
		                     + "&tz=" + (-1 * new Date().getTimezoneOffset() / 60);
	}

	function error(error) {
		$("#location").replaceWith("Geolocation is not supported by this browser")
	}

	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(success, error, {enableHighAccuracy : true});
	}
	else {
		error();
	}
</script>
