<div id="location">
	Finding current location...
</div>

<script>
	function success(pos) {
		$("#location").replaceWith("Latitude: " + pos.coords.latitude + " Longitude: " + pos.coords.longitude);
		window.location.href = "/events?lat=" + pos.coords.latitude + "&long=" + pos.coords.longitude + "&range=10";
	}

	function error(error) {
		$("#location").replaceWith("Geolocation is not supported by this browser")
	}

	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(success, error, {enableHighAccuracy : true});
	}
	else {
		error();
	}
</script>
