<div class="container">
	<h1>Submit a correction:</h1>

	<div class="correction-event">
		<%= render :partial => "shared/event", :locals => { :event => @correction.event } %>
	</div>

	<%= render 'form' %>
</div>
