<div class="container">
	<h1>Correct event:</h1>

	<div class="row-fluid">
		<%= render :partial => "shared/event", :locals => { :event => @correction.event, :show_corrections => false } %>
	</div>

	<%= render 'form' %>

	<%= link_to 'Back', corrections_path %>
</div>
