<!--
 TODO:
  * Add start_time
  * Remove avatar and title from each entry
  * Replace avatar with a little map image?
  * Elevate location's importance (location above start_time?)
-->

<div class="event">
  <div class="event-avatar">
    <%= image_tag event.map_image_url %>
  </div>
  <div class="event-inner">
    <div class="event-information">
      <div class="event-name">
        <%= link_to event.location, event.map_url %> 
      </div>
    </div>
    <%= render :partial => "shared/event_tweets", :locals => { :event => event } %>
  </div>
</div>
