<!DOCTYPE html>
<html>
<head>
  <title>Eat Mobile</title>
  <meta name="description" content="Find food trucks near you." />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="/assets/icon_29.jpg" />
  <link rel="apple-touch-icon-precomposed" href="/assets/icon_114.jpg" />
</head>
<body>

<%= yield %>

</body>
</html>
