@import "twitter/bootstrap";

@events-width: 320px;
@margin: 10px;

@media screen and (min-device-width: 700px) {
	div.events {
		padding: 0;
		margin: 0;
		position: absolute;
		top: 5px;
		left: @margin;
		bottom: 0;
		overflow: auto;
		width: @events-width;
	}
}

div.map {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 5px;
	left: @events-width + @margin;
	right: @margin;
	bottom: 0;
}

div.event {
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-width: 1px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

@avatar-size: 48px;
@avatar-margin: 10px;

div.event-avatar {
	float: left;
	margin-right: @avatar-margin;
}

div.event-avatar img {
	height: @avatar-size;
	width: @avatar-size;
}

div.event-name {
	font-size: 18px;
}

div.event-location {
	font-size: 13px;
}

div.event-tweets {
	margin-left: @avatar-size + @avatar-margin;
}

div.event-tweets:after {
	content: '.';
	display: block;
	clear:both;
	height: 0;
	visibility: hidden;
}

div.event-tweet {
	margin-left: 25px;
	font-size: @baseFontSize - 2;
	line-height: @baseLineHeight - 2;
}

div.event-tweet a {
	text-wrap: none;
}

div.event-tweet-quote {
	float: left;
	font-size: 60px;
	line-height: 55px;
	font-family: Georgia;
	color: #AAA;
}

#map-canvas {
	height: 100%;
	width: 100%;
}

div.event-correction {
	font-size: @baseFontSize - 2;
}

div.date-control {
	text-align: center;
	font-size: 20pt;
	line-height: 25pt;
}

div.range-control {
	text-align: center;
}

div.range-control a {
	font-family: monospace;
}

.tweet-toggle {
	float: right;
	font-size: @baseFontSize - 2;
}
