@import "twitter/bootstrap";

div.event-information {
	font-size: @baseFontSize + 3;
	line-height: @baseLineHeight + 3;
}

div.event-tweet {
	font-size: @baseFontSize - 1;
	line-height: @baseLineHeight - 1;
}

div.event-tweet a {
	color: @gray;
}

div.map {
	height: 620px;
}
